.paging {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.paging .num {
    font-size: 13px;
}

.num:active {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

.paging > a{
    text-decoration: none;
    color: rgb(112, 111, 111);
    font-weight: 100;
    padding-left: 6px;
    padding-right: 6px;
}

.paging .active {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}
.lt, .gt {
    border: 1px solid lightgrey;
    width: 100px;
    height: 10px;
    color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.table-section {
    width: 840px;
}

.table {
    border-top-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

.table td, .table th {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;
    padding: 12px 16px;
}

.w-160 {
    width: 160px;
}

.column-title {
    font-weight: 500;
}

.column-title > a {
    text-decoration: none;
    color: black;
}

.column-title > a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.column-date {
    text-align: center;
    color: #636363;
}

.center {
    text-align: center;
}